# Test SQLite3 Data Provider

## 1. Import Libraries

In [1]:
# Standard Packages
import datetime
import json
import logging
import os
import sys
import sqlite3

# Third-Party Packages
import pandas as pd

# Local Packages
sys.path.append("..")
from data_retrieval.data_provider.database.sqlite3_data_provider import SQLite3_DataProvider

## 1. Instantiate the SQLite3 Data Provider

In [2]:
sqlite3_dp = SQLite3_DataProvider(db_file_path="test3.db")

## 2. Test with the Database

In [8]:
# Create a user table in the db
sql = """
    CREATE TABLE IF NOT EXISTS users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER,
        email TEXT UNIQUE,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    )
"""
sqlite3_dp.execute(sql=sql)

[]

In [4]:
# Insert data into the table
users_data = [
    ('卡尔文森', 21, '111'),
    ('罗斯福', 33, '22'),
    ('里根', 41, '333')
]

sql = """
    INSERT INTO users (name, age, email) VALUES (?, ?, ?)
"""
sqlite3_dp.execute_many(sql=sql, params_list=users_data)

[]

In [5]:
# Try to query the data from the database
try:
    data = sqlite3_dp.execute(sql="SELECT * FROM users", fetch_mode="all", commit=True)
    print(data)
except sqlite3.OperationalError as e:
    print(f"Error: {e}")

[<sqlite3.Row object at 0x00000267DFB2EBF0>, <sqlite3.Row object at 0x000002678A176F20>, <sqlite3.Row object at 0x000002678A176FB0>]

In [6]:
pd.DataFrame([dict(d) for d in data]).set_index("id")

    name  age email           created_at
id
1   卡尔文森   21   111  2026-02-05 14:34:18
2    罗斯福   33    22  2026-02-05 14:34:18
3     里根   41   333  2026-02-05 14:34:18

In [7]:
list(data[0].keys())

['id', 'name', 'age', 'email', 'created_at']